@keyframes slideShow {
	0%{left: 0px;}
	15%{left: 30%}
	30%{left: 50%;}
	45%{left: 70%;}
	60%{left: 90%;}
	75%{right: 70%;}
	85%{right: 50%;}
	95%{right: 30%;} 
	100%{right: 0%;}
}
/*@keyframes slideShow1{
	0%{left: 0px;background-color: rgba(148, 0, 211,0.4)}
	15%{left: 30%;background-color: rgba(75, 0, 130,0.4)}
	30%{left: 50%;background-color: rgba(0, 0, 255,0.4)}
	45%{left: 70%;background-color: rgba(0, 255, 0,0.4)}
	60%{left: 90%;background-color: rgba(255, 255, 0,0.4)}
	75%{right: 70%;background-color: rgba(255, 127, 0,0.4)}
	85%{right: 50%;background-color: rgba(255, 0 , 0,0.4)}
	95%{right: 30%;background-color: rgba(0, 255, 0,0.4,0.4)} 
	100%{right: 0%;background-color: rgba(255, 127, 0,0.4,0.4)}
}
*/
#slider{
	overflow: hidden;
}

#slider figure img{
	width: 167px;
	float: right;
}

#slider figure{
	position: relative;
	width: auto;
	margin: 0;
	left: 0;
	font-size: 0;
	float: left;
	animation: 20s slideShow infinite;
}
#slider
{
	animation: 25s slideShow1 infinite;
}

.photo
{
	border : 2px solid black;

}